<div class="login">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Register
            </mat-card-title>            
        </mat-card-header>
        <mat-card-content>
            <mat-horizontal-stepper labelPosition="bottom" linear="Disable linear mode" #stepper>
                <mat-step [stepControl]="formAccountInfo">
                    <ng-template matStepLabel>Account Information</ng-template>
                    <form [formGroup]="formAccountInfo">
                        <mat-form-field class="full-width">
                            <input matInput type="text" placeholder="Email" formControlName="email" required>
                        </mat-form-field>
                        <mat-form-field class="full-width">
                            <input matInput type="password" placeholder="Password" formControlName="password" required>
                        </mat-form-field>
                        <mat-form-field class="full-width">
                            <input matInput type="password" placeholder="Confirm your password" formControlName="confirmpwd" required validateEqual="password">
                        </mat-form-field>
                        <!--<mat-error *ngIf="form.get('password').hasError('pwdInvalid')">Please confirm your Password</mat-error>-->                              
                        <div>
                            <button mat-raised-button matStepperNext color="primary" [disabled] = "!formAccountInfo.valid">Next</button>
                            <button mat-button matStepperPrevious color="primary">Back</button>
                        </div>
                    </form>                   
                </mat-step>
                <mat-step [stepControl]="formPersonInfo">
                    <ng-template matStepLabel>Personnal Information</ng-template>
                    <form [formGroup]="formPersonInfo">
                        <mat-form-field class="full-width">
                            <input matInput type="text" placeholder="First Name" formControlName="firstName" required>
                        </mat-form-field>
                        <mat-form-field class="full-width">
                            <input matInput type="text" placeholder="Last Name" formControlName="lastName" required>
                        </mat-form-field>
                        <mat-form-field class="full-width">
                            <input matInput type="text" placeholder="Tel." formControlName="tel" required>
                        </mat-form-field>
                        <div>
                            <button mat-raised-button matStepperNext color="primary" [disabled] = "!formPersonInfo.valid">Next</button>
                            <button mat-button matStepperPrevious color="primary">Back</button>
                        </div>
                    </form>                   
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Select your avatar</ng-template>
                    <app-image-list-select
                        [cols]="5"
                        [title]="'Select your avatar'"
                        [items]="items"
                        (selected)="changeAvatar($event)"
                    ></app-image-list-select>
                    <div>
                        <button mat-raised-button type="button" color="primary" (click)="submitRegister()">Create</button>
                        <button mat-button matStepperPrevious color="primary">Back</button>
                        <button mat-button color="primary" (click)="stepper.reset()">Reset</button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </mat-card-content>
    </mat-card>
</div>
