<mat-sidenav-container [class.myapp-dark-theme]="darkTheme">
  <mat-sidenav #sidenav>
    <app-sidebar (navClick)="sidenav.toggle()"></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="site">
      <header>
        <app-header (sidenav)="sidenav.toggle()" (changeTheme)="switchTheme($event)"></app-header>
      </header>
      <main>
        <router-outlet></router-outlet>
      </main>
      <footer>
        <app-footer></app-footer>
      </footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


