<div>
    <mat-list *ngFor="let missionList of missionLists">
        <app-mission-header 
            [header]="missionList.ListName"
            (newMission)="createMission()"
            (editList)="editMissionList()"
            (moveAll)="moveAllMissions()"
            (deleteList)="removeList()">
        </app-mission-header>
        <mat-divider></mat-divider>
        <app-mission-item *ngFor="let mission of missionList.Missions"
            [mission]="mission">           
        </app-mission-item>
    </mat-list>
</div>